@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lato&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
/* change the values below to your colors from your palette */
    --primary-color: #333D41;
    --secondary-color: #4F5A30;
    --accent1-color: #546266;
    --accent2-color: #5D7588;
    --accent3-color: #808B92;

    /* CSS HEX */
    --gunmetal: #333D41;
    --dark-moss-green: #4F5A30;
    --paynes-gray: #546266;
    --paynes-gray-2: #5D7588;
    --slate-gray: #808B92;

    /* change the values below to your chosen font(s) */
    --heading-font: "Bubblegum Sans";
    --paragraph-font: "Open Sans", Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #333D41;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #333D41; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: white;
    --nav-background-color: #4F5A30;
    --nav-hover-link-color: #5D7588;
    --nav-hover-background-color: #4F5A30;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
p {
    font-family: var(--paragraph-font);
}
h1 {
    font-family: var(--heading-font);
}
h2 {
    font-family: var(--heading-font);
    padding: 0;
}
h4 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
a:hover {
    text-decoration: underline;
}
header {
    background-color:rgba(51,61,65, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: 35px;
}
nav a:hover {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--paragraph-font);
    padding: 35px;
}
main section{ 
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

footer {
    background-color: var(--paynes-gray);
    color:black;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer p {
    color: white;
    font-size: 1.2em;
    text-decoration:underline;
}
.book, .join {
    background-color: var(--accent3-color);
    color:white;
    text-decoration: none;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--paynes-gray-2);
    color:white;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
#title {
    grid-column: 1/11;
    padding: 20px;
}
.river_l, .river_r {
    max-width: 560px;
    padding: 20px;
    justify-self: center;
    align-self: center;
}
.river_l {
    grid-column: 1/6;
}
.river_r {
    grid-column: 6/10;
}

.home-title {
    color: white;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
.msg {
    background-color: var(--primary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    Color: #808B92;
    font-family: var(--heading-font);
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: var(--accent3-color);
    grid-column: 1/11;
    grid-row: 4/9;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg a, #hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    color: white;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 1000px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}