body{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .65em;
}
.grid_container{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
}
.left-side{

    height: 300px;
    width: 100%;
    background-color: white;
    grid-column: 1/2;
    text-align: center;
}
.right-side{

    height: 300px;
    width: 100%;
    background-color: gray;
    grid-column: 2/3;
    grid-row: 1/2;
    border: 2px black;
    text-align: center;
    align-self: center;
    font-size: 36px;
    font-weight: 950;
    color: darkred;

}
.img {
    width: 300px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}
#first-line {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;    
    justify-self: center;
    font-size: 72px;
    font-weight: bolder;
}
#second-line {
    grid-column: 2/3;
    z-index: 3;
}