body {
    background-color: #FCA6C9;
    color: white;
    width: 30%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    line-height: 1.5em; 
}
h1 {
    font-size: 2em;
    font-weight:bold;
    margin: 0 auto;
}
h1:hover {
    color: black;
}
li {
    color: black;
    text-align: left;
    font-weight: bold;
}
img {
    width: 35%;
}
#firstquote {
    font-family: 'Times New Roman', Times, serif;
}
#bottomquote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 2.5rem;
    width: 60%;
    margin: auto;
    text-align: center;
}
.caption {
    color:black;
}