@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Roboto+Slab:wght@500&family=Roboto:wght@100;400;900&display=swap');

body {
    background-color: black;
    display: grid;
    /* width: 256px; */
    justify-content: center;
    
}
header{
    width: 256px;
    background-color: black;
}
main{
    width: 226px;
    height: 268px;
    overflow-y: scroll;
    background-color: white;
    text-align: center;
    padding: 15px;
    color: gray;
}
footer{
    background-color: #3F5B8B;
    font-family: Baskervville, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
sup {
    vertical-align: super;
    font-size: .5em;
}
.box_wrapper{
    display:flex;
    width: 256px;
    height: 60px;
    justify-items: center;
    
}
.hero{
    width: 256px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.first_line{
    font-size: 1.5em;
    justify-content: space-around;
}
.second_line{
    font-size: .5em;
    justify-content: space-around;
}
.supercript{
    font-size: .5em;
}

#post_number{
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
    color:black;
}
#weeks_go{
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
    color:#3F5B8B;
}