@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Kameron:wght@700&family=Roboto:wght@100;400;900&display=swap');

body {
    background-color: white;
    width: 256px;
    padding: 30;
    align-self: center;  
}
header{
    width: 100%;
    background-color: white;
}
main{
    width: 100%;
    background-color: white;
    text-align: center;
}
footer{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3F5B8B;
}
.read {
    grid-column: 1/2;
}
.views{
    grid-column: 2/3;
}
.comments{
    grid-column: 3/4;
}
.hero{
    width: 265px;
}